 * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
    }
    
    #main {
        height: 100%;
        width: 100%;
        /* background-color: aquamarine; */
    }
    
    #page1 {
        height: 100%;
        width: 100%;
        background-color: #6B7F55;
        object-fit: cover;
        object-position: center;
    }
    
    #nav {
        height: 10%;
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #nav h5 {
        color: white;
        font-size: 1.3vw;
        margin-left: 5vw;
    }
    
    #nav h5::after {
        content: "MODERN HOME DECORES";
        color: black;
        font-size: .8VW;
        font-weight: 600;
        position: absolute;
        top: 6%;
        left: 5.5%;
    }
    
    #nav-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #nav h4 {
        /* background: yellow; */
        margin-right: 5vw;
    }
    
    #page1-video {
        width: 100%;
        height: 90%;
        background: red;
        overflow: hidden;
    }
    
    #page1-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #paragraph {
        width: 40%;
        height: 20%;
        /* background: blue; */
        margin-top: 30vw;
        margin-left: 5vw;
        position: absolute;
        color: white;
    }
    
    #paragraph h1 {
        font-size: 700;
        margin-top: .5vw;
    }
    
    #paragraph h3 {
        font-size: 300;
    }
    
    #paragraph h5 {
        margin-top: 1vw;
    }
    
    #page2 {
        height: 100%;
        width: 100%;
        background-color: #6B7F55;
    }
    
    #top {
        height: 15%;
        width: 100%;
        color: white;
        /* background-color: red; */
        /* align-items: baseline; */
        justify-content: center;
    }
    
    #top h2 {
        font-size: 600;
        margin-left: 45vw;
        line-height: 1.2;
        padding-top: .5vw;
    }
    
    #top2 h2 {
        margin-left: 39vw;
    }
    
    #images {
        height: 60%;
        width: 100%;
        /* background-color: yellowgreen; */
        align-items: center;
        justify-content: space-evenly;
        display: flex;
    }
    
    #image1 {
        height: 90%;
        width: 25%;
        /* background-color: blue; */
        /* border-radius: 8%; */
    }
    
    #image1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8%;
    }
    
    #bottom {
        height: 15%;
        width: 100%;
        /* background-color: yellow; */
    }
    
    #bottom1 {
        width: 12%;
        height: 30%;
        background-color: #C97735;
        margin-left: 45vw;
        /* align-items: center; */
        /* justify-content: center; */
        /* display: inline; */
    }
    
    #bottom1:hover {
        background-color: black;
    }
    
    #bottom1 h4 {
        color: white;
        margin-left: 1.7vw;
        padding-top: .5vw;
    }
    
    #bottom1 h4:hover {
        color: #C97735;
    }
    
    #bottom2 {
        margin-left: 37vw;
        margin-top: 1%;
    }
    
    #offers {
        height: 20%;
        width: 100%;
        /* background-color: red; */
        /* margin-top: .5vw; */
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    #offer1 {
        height: 90%;
        width: 12%;
        background-color: #D9CAB3;
        border-radius: 20%;
        padding-top: 2vw;
        padding-left: 2vw;
        color: #b6743b;
    }
    
    #offer1 i {
        padding-left: 2.3vw;
    }
    
    #offer2 {
        height: 90%;
        width: 12%;
        background-color: #D9CAB3;
        border-radius: 20%;
        padding-top: 2vw;
        padding-left: 2vw;
        color: #b6743b;
    }
    
    #offer2 i {
        padding-left: 2.5vw;
    }
    
    #offer3 {
        height: 90%;
        width: 12%;
        background-color: #D9CAB3;
        border-radius: 20%;
        padding-top: 2vw;
        padding-left: 2vw;
        color: #b6743b;
    }
    
    #offer3 i {
        padding-left: 2.5vw;
    }
    
    #offer3 h3 {
        padding-left: 1vw;
    }
    
    #page3 {
        height: 125%;
        width: 100%;
        /* background-color: blue; */
        background-color: #6B7F55;
        /* #C8C8C8 */
    }
    
    #part1 {
        width: 100%;
        height: 25%;
        /* background-color: green; */
    }
    
    #part1 h1 {
        padding-top: 14vw;
        margin-left: 3vw;
        font-size: 700;
        color: #D9CAB3;
    }
    
    #part2 {
        width: 100%;
        height: 10%;
        /* background-color: yellowgreen; */
    }
    
    #part2 h5 {
        font-size: 500;
        padding-top: 5vw;
        margin-left: 3vw;
        color: #D9CAB3;
    }
    
    #part3 {
        width: 100%;
        height: 50%;
        /* background-color: yellow; */
        display: flex;
        justify-content: space-evenly;
    }
    
    #image2 {
        width: 25%;
        height: 90%;
        /* background-color: red; */
        margin-top: 5vw;
    }
    
    #image2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8%;
    }
    
    #part4 {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: center;
        gap: 1.5vw;
    }
    
    #part4 h4 {
        font-size: 2vw;
        margin-top: 5vw;
        color: #D9CAB3;
    }
    
    #image2 img:hover {
        box-shadow: 5px 5px 5px 5px #1a1919;
    }
    
    #image1 img:hover {
        box-shadow: 5px 5px 5px 5px #1a1919;
    }
    
    #part4 h4:hover {
        text-decoration: underline;
        cursor: pointer;
    }
